<%- include('layouts/header.ejs') %>
<div class="container custom_padding">
	 
<% if(continents.length>0){ %>
<p>Path:&nbsp;<a href="/">Home</a>
<div class="row flex-row">
<% for(var i=0; i<continents.length; i++) { %>

   	<div class="col-md-4 col-sm-4">
     <div class="panel panel-default">
	<div class="panel-body">
	<img src="static/maps/<%= continents[i]['map'] %>" width="100%" class="img-responsive"/> 
	</div>
		 <a href="<%= continents[i]['target'] %>"><div class="panel-footer custom_map_footer"><center><%= continents[i]['name'] %></center></div></a>
		</div>
	</div>
<% } %>
</div>
<% } else{ %>  
<div class="col-md-12">
	<div class="alert alert-info">
<strong>Info!</strong> No Continent list available.
</div>
</div>
<% } %>  


</div>

<%- include('layouts/footer.ejs') %>